

#title{
	text-align: center;
	font-size: 6em;
	color: black;	
	position: relative;  
     height:100px;
    width:100px;
    left:50%;
    top:30%;
    margin-top:-50px;
    margin-left:-50px;

}

#nav a{
	font-size: 2em;
	text-decoration: none;
	margin: 2.9%;
	color: white;
    margin-left: 5%;
}

#nav{
    padding-top: 1.5%;
    margin-left: 25%;
}

#nav a:hover{
    color: orange;
}

body {
	margin: 0;
}

#firstpage{
	background-image:    url(../img/concert1.jpg);
  background-size:     cover; 
   background-repeat:   no-repeat;
    background-position: center; 
    height: 980px;

}


#about{
	color: black;
	text-align: center;
	
	
}


h2{
	text-align: center;
	font-size: 4em;
}



span{
	font-size: 1.5em;
}

* {
    box-sizing: border-box;
}

/*Table*/ 
* {
    box-sizing: border-box;
}

#wrapper{
    height: auto;
    white-space: nowrap;
    max-width: 100%;
    width: auto;
}


.group{
    position: relative;
    display: inline-block;
    max-width: 45%;
    cursor: pointer;
    margin: 2%;

  
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden;
  

}


 .groupText{
    text-align: 
    center; 
    width:100%; 
    height:0;
    font-size: 5em; 
    line-height: 0;
    color:orange;
    position:absolute; 
    top:50%;
    z-index:1;
}

.group img {
    display:block;
    max-width: 100%; 
    -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}



.group:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}








/* Create three columns of equal width */
.columns {
    float: left;
    width: 33.3%;
    padding: 3px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
    background-color: #87CEEB;
    color: black;
    font-size: 25px;
}

/* List items */
.price li {
    border-bottom: 1px solid black;
    padding: 20px;
    text-align: center;
    background-color: #eee;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
}

/* The "Sign Up" button */
.button {
    background-color: teal;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}


.parallax {
	background-image: url(../img/guitar.jpg);
	height: 100%; 
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
	background-image: url(../img/concert.jpg);
	height: 100%; 
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.variety{
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}



footer{
	background-color: #262626;
}

footer a{
	color: white;
	text-decoration: none;
}


.social{
	text-align: center;
	color: white;
	padding: 5px;
	font-size: 2em;
}
.social img{
	padding: 3%;
}



								/*Accordion*/

 /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}

.panel p{
	font-size: 1.5em;
}

button.accordion{
	font-size: 2em;
}



                    /*Menu Bar*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#burger{
    display: none;
}




/* Media Queries*/

@media screen and (max-width: 800px) {

 #nav a{font-size: 1.3em;}
 h2{font-size: 3em;}
 span{font-size: 1em;}
 .br{display: none;}
 #title{font-size: 2em; top: 45%;}
 
}


@media screen and (max-width: 600px) {
#title{font-size: 3.2em;}
#nav a{font-size: 0.8em;}
h2{font-size: 2.5em;}
 span{font-size: 1em;}
 button.accordion{font-size: 1.5em;}
 .social img{width: 30%;}
 .br{display: none;}
 .groupText{font-size: 1.5em;}
 #title{font-size: 2.5em; top: 25%; left: 50%;}
 #nav{display: none;}
 #firstpage{height: 650px;}
 #burger{ display: block; color: white;}
}

@media screen and (max-height: 500px) {
    #title{font-size: 2.2em; top: 40%;}
    #firstpage{height: 550px;}
}

